.wrap{
    min-width: 1600px;
    .form-wrap{
        height: 400px;
        width: 800px;
        background-color: #eeeeee;
        .form-box{
            display: flex;
            box-sizing: border-box;
            height: 100%;
            padding: 10px;
            .form-box-left{
                width: 50%;
                box-sizing: border-box;
                border-right: 3px solid #888888;
            }
            .form-box-right{
                padding-top: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 50%;
                .login,
                .register{
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}